<div class="panel left">
  <h1>Edit Profile</h1>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
      <% end %>
        <p>Email: <%= f.text_field :email %></p>
        <p>Name: <%= f.text_field :name %></p>
        <p>Password: <%= f.password_field :password %></p>
        <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
        <p>Bio: <%= f.text_area :bio %></p>
        <p><%= f.submit "Update" %></p>
    <% end %>
</div>