<!DOCTYPE html>
<html>
<head>
  <title>Ribbit</title>
  <link rel="stylesheet/less" href="/style.less"/>
  <script src="/less.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrapper">
      <img src="/gfx/logo.png" />
      <span>Twitter Clone</span>
      <% if current_user %>
        <%= link_to "Buddies' Ribbits", buddies_path %> |
        <%= link_to "Public Ribbits", ribbits_path %> | 
        <%= link_to "Public Profiles", users_path %> | 
        <%= link_to "My Profile", current_user %> | 
        <%= link_to "Log Out", logout_path %> | 

      <% else %>
      <p>
        <%= form_tag sessions_path do %>
          <%= text_field_tag :username, nil, placeholder: "username" %>
          <%= password_field_tag :password, nil, placeholder: "password" %>
          <%= submit_tag "Log In" %>
      </p>
        <% end %>
      <% end %>
    </div>
  </header>

<div id="content">
  <div class="wrapper">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash #{name}" %>
    <% end %>
    <%= yield %>
  </div>
</div>
<footer>
  <div class="wrapper">
    Ribbit - A Twitter Clone Tutorial <img src="/gfx/logo-nettuts.png" />&copy; <%= Time.now.year %>
  </div>
</footer>

</body>
</html>
